.sidebar
  // align-items: flex-start
  background: #336666
  color: #eaefef
  display: flex
  flex-flow: column nowrap
  flex: 1
  max-height: 100vh
  overflow: auto
  z-index: 5

  .place
    border-bottom: .0625rem solid #5b8484

  .place, .input-filter
    flex: 0
    font-family: Roboto Condensed
    font-weight: 300
    padding: .8rem

  .input-filter
    border: 0
    font-size: 1rem



// Scrollbar
::-webkit-scrollbar
  height: .4rem
  width: .4rem

::-webkit-scrollbar-button
  height: 0
  width: 0

::-webkit-scrollbar-thumb
  background: #adc1c1
  border: 0 none #ffffff

::-webkit-scrollbar-thumb:hover
  background: #adc1c1

::-webkit-scrollbar-thumb:active
  background: #adc1c1

::-webkit-scrollbar-track
  background: #336666
  border: 0 none #ffffff

::-webkit-scrollbar-track:hover
  background: #336666

::-webkit-scrollbar-track:active
  background: #336666

::-webkit-scrollbar-corner
  background: transparent

