// Flexbox
.app
  display: flex
  flex-flow: column nowrap
  max-height: 100vh

.container
  display: flex
  flex-flow: row wrap
  height: 100vh

.map
  flex: 3
  position: relative

.sidebar
  flex: 1
