@import color

// Layout
.sidebar
  background: $color-teal-primary
  color: $color-gray
  display: flex
  flex-flow: column
  max-height: 100%
  overflow: auto

  .place
    border-bottom: .1rem solid $color-teal-lighter

  .place,
  .input-filter
    flex: 0
    font-size: 1.6rem
    padding: 1.4rem

// Filter
input
  background-color: $color-teal-lightest
  border: hidden
  width: 100%

  &::placeholder
    opacity: .6

  &:focus::placeholder
    opacity: 0

// Transitions
li
  transition: .4s ease

  &:hover
    background-color: $color-teal-darker
    cursor: pointer
    transition: .1s ease

  &:active
    background-color: $color-teal-darkest
    transition: .2s ease

// Scrollbar
::-webkit-scrollbar
  height: .6rem
  width: .6rem

::-webkit-scrollbar-button
  height: 0
  width: 0

::-webkit-scrollbar-thumb
  background: $color-teal-light
  border: 0 none $color-white

::-webkit-scrollbar-thumb:hover
  background: $color-teal-light

::-webkit-scrollbar-thumb:active
  background: $color-teal-light

::-webkit-scrollbar-track
  background: $color-teal-primary
  border: 0 none $color-white

::-webkit-scrollbar-track:hover
  background: $color-teal-primary

::-webkit-scrollbar-track:active
  background: $color-teal-primary

::-webkit-scrollbar-corner
  background: transparent
